.react-draggable {
    border: 4px solid #ccc;
    border-radius: 8px;
}

.drag-handle {
    height: 17px;
    width: 100%;
    background: #ccc;
    cursor: move;
}

.close-button, .min-button, .max-button {
    position: absolute;
    top: 0px;
    height: 13px;
    width: 13px;
    padding: 0;
    cursor: pointer;
    border: 0px solid;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ico {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold;
    }
}

.close-button:active, .min-button:active, .max-button:active {
    border-width: 2px;
}

.close-button {
    left: 6px;
    background: #e44;
    border-color: #a22;
    color: #611;
}

.min-button {
    left: 26px;
    background: #ea4;
    border-color: #c84;
    color: #611;
}

.max-button {
    display: none;
    left: 26px;
    background: #4e4;
    border-color: #2a2;
    color: #161;
}

.container.minimized {
    
    .drag-handle {
        width: 20vw;
    }

    .content {
        display: none;
    }

    .min-button {
        display: none;
    }

    .max-button {
        display: block;
    }
}